
@font-face {
  font-family:'spoqaBold';
  src:url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff') format('woff'),
      url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'spoqaLight';
  src:url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff') format('woff'),
      url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spoqaMideum';
  src:url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff') format('woff'),
      url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Medium.woff2') format('woff2');
  ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'spoqaRegular';
  src:url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff') format('woff'),
      url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spoqaThin';
  src:url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff') format('woff'),
      url('../resource/font/Spoqa/SpoqaHanSansNeo_OTF_subset/SpoqaHanSansNeo-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body { font-family:'spoqaBold'; }


html,body {
  margin: 0;
  padding: 0;
}

body {
  height : 100%;
  background-color: #f6f9fc;
} 

header{
  background-color: #fff;
  border-bottom: 3px solid #ededed;
  cursor : pointer;
}

header #main-menu{
  display : flex;
  justify-content: space-between;
  align-items: center;
  padding : 10px 80px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #ededed;
}

header #logo{
  display: flex;
  align-items: center;
  width : 50px;
}
header img{
  width : 21px;
}

header #header-right-section{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border : 1px solid #000;
  border-radius : 10px;
  padding : 7px 15px;
  gap : 10px;
}


header ul{
  display: flex;
  justify-content: space-around;
  padding : 20px 80px;
  background-color: #ededed;
}

header ul a {
  text-decoration: none;
  color : #000;
  font-size: 20px;
}


main{
    /* display: flex;
    justify-content : space-between; */
    margin: 40px 80px;
    gap : 20px;
}

main #post-items{
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

main iframe{
  width: 350px;
  height: 350px;
  border : 3px solid #ededed;
  background-color: #fff;
  border-radius: 15px;
}
